@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
i {
  margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo {
  padding: 15px;
}
.navbar-mainbg {
  background-color: #db2d2d;
  padding: 0px;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
}

/* .heading {
  text-align: center;
}
.heading h1 {
  margin: 30px;
} */
.background {
  background-image: url("/dist/Picsart_23-02-23_18-57-51-869.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;
  background-size: cover;

  height: 450px;
}
#logo {
  width: 20%;
  margin: -13px 0px;
  position: relative;
  animation: busmove 8s infinite;
}
@keyframes busmove {
  0% {
    left: 0px;
    opacity: 1;
  }
  100% {
    left: 930px;
  }
}
@media (max-width: 991px) {
  @keyframes busmove {
    0% {
      left: 0px;
      opacity: 1;
    }
    100% {
      left: 850px;
    }
  }
}
#Selection {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 230px;
}

.custom-dropdown select {
  background-color: #db2d2d;
  color: #fff;
  font-size: inherit;
  padding: 15px;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "" button; /* hide default arrow in chrome OSX */
}

.custom-dropdown select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0, 0, 0, 0.1);
}

input[type="date"] {
  background-color: #db2d2d;
  padding: 10px;
  position: absolute;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}
::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

#search {
  margin-left: 20px;
  padding: 10px;
  border: none;
  background-color: #db2d2d;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  text-decoration: none;
}
span #search {
  margin-left: 200px;
}
.fa-arrow-right-arrow-left {
  color:white;
  margin: auto;
  margin-top: 10px;
  font-size: 30px;
}
#user a {
  color: white;
}
